/* for small screens */

@media only screen and (max-width: 768px) {
  html {
    font-size: 13px;
  }

  #app {
    margin-top: 0;
    padding: 2rem 0;
  }

  #infoBox {
    font-size: 1.5rem;
  }

  #currWeather {
    width: 19.5em;
    height: 19.5em;
    margin: auto;
  }

  .currWeather-content {
    font-size: 1.3rem;
  }

  .temperature {
    max-height: 110px;
  }

  #temp,
  .degrees {
    font-size: 7em;
  }

  #WRU {
    width: 170px;
  }

  .container {
    max-width: 570px;
  }

  .forecast {
    font-size: 1.5rem;
    margin-top: 0;
  }

  .forecBox {
    width: 90%;
    height: 120px
  }

  .forecCondition {
    display: block;
    height: 6rem;
  }

  .condF {
    font-size: 1em;
  }

  .tempForecast {
    margin: auto;
    margin-top: 45px;
    display: none;
  }

  #graph {
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
  }

  .axis path,
  .axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
  }

}

@media only screen and (max-width: 450px) {
  html {
    font-size: 10px;
  }

  #infoBox {
    margin: 10px auto;
    font-size: 1.3rem;
  }

  #icon {
    margin-left: 10px;
  }

  .currWeather-content {
    font-size: 1.3rem;
  }

  .temperature {
    max-height: 95px;
  }

  #temp,
  .degrees {
    font-size: 5.0em;
  }

  #tUnits {
    font-size: 1.3em;
  }

  #WRU {
    width: 145px;
  }

  .forecast {
    font-size: 1.3rem;
    padding-top: 5px;
  }

  .forecast .container {
    max-height: 220px;
  }

  .forecHead {
    font-size: 1.8rem;
  }

  #charts {
    margin-top: 1rem;
  }

  .forecBox {
    width: 90%;
    min-width: 70px;
    height: auto;
  }

  .forecBox > p {
    font-size: 1.2em;
    margin: 0;
  }

  .forecCondition {
    display: block;
    height: 5em;
    margin: 0;
  }

  .tempForecast {
    margin: auto;
    margin-top: 15px;
  }

  .iconF {
    font-size: 2em;
  }

  .condF {
    font-size: 1em;
  }

  .weatherCondition {
    left: -10px;
  }

  #graph {
    margin-bottom: 0px;
  }

  .label text {
    font-size: 20px;
  }

}

@media only screen and (max-height: 790px) and (max-width: 768px) and (min-width: 450px) {
  .forecast {
    position: relative;
  }
}

@media only screen and (max-height: 700px) and (max-width: 450px) {
  .forecast {
    position: relative;
  }
}
