@import 'https://fonts.googleapis.com/css?family=Josefin+Sans|Quicksand';

body,
html {
  margin: 0;
  padding: 0;
  color: #FFF !important;
  min-height: 100vh;
}

body {
  position: relative;

}

body * {
  font-family: 'Quicksand', sans-serif;
}

#app {
  padding: 50px 0;
}

#infoBox {
  font-size: 20px;
  font-weight: 100;
  color: white;
  width: 21em;
  margin: 35px auto;
  padding: 0px 10px;
  z-index: 1;
}

.location-search {
  width: 25rem;
  font-size: 1.5rem;
  padding: 5px 25px 5px 7px;
  background-color: rgba(20, 20, 20, .2);
  border: 1px solid #FFF;
}

.location-search-reset {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-52%);
  background-color: transparent;
  border: 0;
  font-size: 1.5rem;
  display: none;
  z-index: 2;
}

.location-search::-ms-clear {
  display: none;
}

.location-search:valid ~ .location-search-reset {
  display: block;
}

.infoBox-search {
  text-align: center;
}

::placeholder {
  color: rgb(220, 220, 220) !important;
  opacity: 1 !important;
}

::-moz-placeholder {
  color: rgb(220, 220, 220) !important;
  opacity: 1 !important;
}

:-moz-placeholder {
  color: rgb(220, 220, 220) !important;
  opacity: 1 !important;
}

:-ms-input-placeholder {
  color: rgb(220, 220, 220) !important;
}

::-ms-input-placeholder {
  color: rgb(220, 220, 220) !important;
}

.location {
  text-align: center;
  font-size: 1.3em;
  margin-bottom: 3rem;
}

#currWeather {
  margin: auto;
  width: 16.5em;
  height: 16.5em;
  border-radius: 50%;
  background: linear-gradient(rgba(30, 30, 30, 0.1), rgba(30, 30, 30, 0.2));
  position: relative;
}

.currWeather-content {
  font-size: 1.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.temperature {
  max-height: 140px;
  display: block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

#temp,
.degrees {
  font-size: 7em;
}

#tUnits {
  width: 30px;
  display: inline-block;
  font-size: 1.4em;
  position: relative;
  top: -8px;
  left: 15px;
}


#tempC:hover,
#tempF:hover {
  text-decoration: none;
  color: #fff;
}

.selected {
  color: #FFF;
  padding: 0px;
  font-weight: bold;
  font-size: 1.3em;
  cursor: default;
  padding: 2px 6px;
}

.unselected {
  color: #D9D9D9;
  cursor: pointer;
  padding: 2px 6px;
  border: 1px solid rgba(06, 90, 138, 0);
}

.unselected:hover {
  border: 1px solid #FFF;
  background-color: rgba(180, 180, 180, .3);
}

.weatherCondition {
  display: block;
}

#WRU {
  font-size: 1em;
  width: 200px;
  margin: auto;
}

#WRU * {
  width: 50%;
}

#wind {
  float: left;
  text-align: left;
}

#RU i,
#wind i {
  padding-right: 4px;
  display: inline;
  font-size: 1.15em;
}

#wind i {
  font-size: 1.4em;
  position: relative;
  top: 2px;
}

#RU {
  float: right;
  text-align: right;
}

.iconColor {
  color: darkblue;
}

.forecast {
  width: 100%;
  font-size: 18px;
  padding: 35px 0;
  background: linear-gradient(rgba(10, 10, 10, 0.2), rgba(10, 10, 10, 0.5));
  position: absolute;
  bottom: 0;
}

.col-lg-4 {
  margin: auto;
}

.forecHead {
  font-size: 1.12em;
  text-align: center;
}

.forecBox {
  width: 210px;
  height: 190px;
  margin: auto;
  padding-top: 2px;
  box-sizing: border-box;
}

.forecBox > p {
  font-size: 1.1em;
}

.forecCondition {
  display: inline-block;
  max-width: 90px;
  margin: auto;
  margin-top: 10px;
}

.iconF {
  font-size: 3em;
  text-align: center;
  margin-left: 5px;
  box-sizing: border-box;
}

.tempForecast {
  font-size: 1.6em;
  display: inline-block;
  margin-left: 15px;
  position: relative;
  top: -10px;
}

.tMin {
  font-size: .7em;
  color: #C3C3C3;
}

.tMax {
  display: block;
}

.condF {
  font-size: .7em;
  display: inherit;
}


footer {
  clear: both;
}

#footerLine {
  height: 5px;
  background-color: #cccccc;
  border-top: 1px solid #acacac;
  border-bottom: 1px solid #acacac;
}

#credits {
  margin: 10px 0;
  font-size: 10px;
}

/***BACKGROUNDS***/
/*clear*/
/*day*/
.a01d,
.a02d {
  background-image: url('../img/sunny.jpg');
  background-image: url('../img/sunny.jpg'), linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.2));
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/*night*/
.a01n,
.a02n {
  background-image: url('../img/night_clear.jpg');
  background-image: url('../img/night_clear.jpg'), linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background-size: cover;
}

/*broken clouds*/
/*day*/
.a03d {
  background-image: url("../img/broken_clouds.jpg");
  /*Fallback*/
  background-image: url("../img/broken_clouds.jpg"), linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*night*/
.a03n {
  background-image: url("../img/night_clouds.jpg");
  background-image: url("../img/night_clouds.jpg"), linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*cloudy*/
.a04d,
.a04n {
  background-image: url("../img/cloudy.jpg");
  background-image: url("../img/cloudy.jpg"), linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*thunderstorm*/
.a11d,
.a11n {
  background-image: url("../img/thunderstorm.jpg");
  background-image: url("../img/thunderstorm.jpg"), linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 1));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*Rain, Showers*/
.a09n,
.a10n,
.a09d,
.a10d {
  background-image: url("../img/rain.jpg");
  background-image: url("../img/rain.jpg"), linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.4));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*Fog*/
.a50d,
.a50n {
  background-image: url("../img/fog.jpg");
  background-image: url("../img/fog.jpg"), linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 1));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*Snow*/
.a13d,
.a13n {
  background-image: url("../img/snow.jpg");
  background-image: url("../img/snow.jpg"), linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 1));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.label text {
  font-family: 'Quicksand', 'Arial';
  font-size: 15px;
}

.axis path,
.axis line {
  fill: none;
  stroke-width: 1;
}

#graph {
  display: none;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 10px;
}

/******/

@media only screen and (min-width: 768px) {
  .container {
    max-width: 770px;
  }

}

@media only screen and (max-height: 860px) and (min-width: 768px) {
  .forecast {
    position: relative;
  }
}
