/* rules for small screens */

@media only screen and (max-width: 768px) {
  html {
    font-size: 13px;
  }

  .app {
    margin-top: 0;
    padding: 1.5rem 0;
  }

  .infoBox {
    font-size: 1.5rem !important;
  }

  .currWeather {
    margin: auto;
    height: 19.5em;
    width: 19.5em;
  }

  .currWeather-content {
    font-size: 1.3rem;
  }

  .temperature {
    max-height: 110px;
  }

  .temperature #temp,
  .temperature .degrees {
    font-size: 6em;
  }

  .WRU {
    width: 170px;
  }

  .container {
    max-width: 570px;
  }

  .forecast {
    font-size: 1.5rem;
    margin-top: 0;
  }

  .forecBox {
    height: 120px;
    width: 90%;
  }

  .forecCondition {
    display: block;
    height: 6rem;
  }

  .condF {
    font-size: 1em;
  }

  .tempForecast {
    display: none;
    margin: auto;
    margin-top: 45px;
  }

  #graph {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .axis path,
  .axis line {
    fill: none;
    shape-rendering: crispEdges;
    stroke: grey;
    stroke-width: 1;
  }
}

@media only screen and (max-width: 450px) {
  html {
    font-size: 10px;
  }

  body .app {
    padding-top: 1rem;
  }

  .infoBox {
    font-size: 1.3rem !important;
    margin: 10px auto;
  }

  .location {
    margin: 1.2rem 0 1.5rem 0;
  }

  #icon {
    margin-left: 10px;
  }

  .currWeather {
    top: 0;
  }

  .currWeather-content {
    font-size: 1.3rem;
  }

  .temperature {
    max-height: 95px;
  }

  .temperature #temp,
  .temperature .degrees {
    font-size: 5.5em;
  }

  .temperature .tUnits {
    font-size: 1.3em;
    left: 0;
    width: 15px;
  }

  .weatherCondition {
    margin-top: 15px;
  }

  .WRU {
    width: 145px;
  }

  .forecast {
    font-size: 1.3rem;
    padding: 0;
  }

  .forecast .container {
    max-height: 220px;
  }

  .forecHead {
    font-size: 1.8rem;
  }

  #charts {
    margin-top: 1rem;
  }

  .forecBox {
    width: 90%;
    min-width: 70px;
    height: auto;
  }

  .forecBox > p {
    font-size: 1.2em;
    margin: 0;
  }

  .forecCondition {
    display: block;
    height: 5em;
    margin: 0;
  }

  .tempForecast {
    margin: auto;
    margin-top: 15px;
  }

  .forecCondition .iconF {
    font-size: 2em;
  }

  .forecCondition .condF {
    font-size: 1em;
  }

  .weatherCondition {
    left: -10px;
  }

  #graph {
    margin-bottom: 0px;
  }

  .label text {
    font-size: 20px;
  }
}

@media only screen and (max-height: 890px) and (max-width: 768px) and (min-width: 450px) {
  .forecast {
    position: relative;
  }
}

@media only screen and (max-height: 620px) and (max-width: 450px) {
  .forecast {
    position: relative;
  }
}
