/* for small screens */

@media only screen and (max-width: 768px) {
  #infoBox {
    font-size: 18px;
  }

  #main {
    height: 410px;
  }

  .container {
    max-width: 570px;
  }

  .forecast {
    font-size: 18px;
  }

    .forecBox {
    width: 90%;
    height: 250px;
  }

  .forecCondition {
    display: block;
    height: 90px;
  }

  .tempForecast {
    margin: auto;
    margin-top: 15px;
  }

  #graph {
    margin-top: 10px;
    margin-bottom: 10px;
  }

}

@media only screen and (max-width: 450px) {

  #main {
  height: 410px;
}

  #infoBox {
    margin: 30px auto;
    font-size: 15px;
  }

  #icon {
    margin-left: 10px;
  }

  #wind {
    /*margin-left: -35px;*/
  }

  #RU {
    /*margin-right: 20px;*/
  }

  .forecast {
    font-size: 15px;
  }

  .forecHead {
    font-size: 1.3em;
  }

  #charts {
    margin-top: 20px;
  }

  .forecBox {
    width: 90%;
    min-width: 70px;
    height: 250px;
  }

  .forecBox > p {
    font-size: 1.2em;
  }

  .forecCondition {
    display: block;
    height: 90px;
  }

  .tempForecast {
    margin: auto;
    margin-top: 15px;
  }

  .iconF {
    font-size: 3em;
  }

  .condF {
    font-size: .80em;
  }

  .weatherCondition {
    left: -10px;
  }

  #graph {
    margin-top: 0px;
    margin-bottom: 0px;
  }

    .label text
  {
    font-size: 20px;
  }

}

