@import 'https://fonts.googleapis.com/css?family=Josefin+Sans|Quicksand';

body,
html {
  margin: 0;
  padding: 0;
}

body * {
  font-family: 'Quicksand', sans-serif;
}

#app {
  margin-top: -20px;
  padding: 50px 0;
  overflow: auto;
}

header {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 45px;
  font-weight: 500;
  text-shadow: 1px 1px black;
  text-align: center;
  background-color: transparent;
  position: relative;
  color: white;
}

#infoBox {
  font-size: 20px;
  font-weight: 100;
  color: white;
  max-height: 18em;
  width: 21em;
  margin: 35px auto;
  padding: 0px 10px;
  z-index: 1;
}

.icon {
  font-size: 4em;
  text-align: center;
  margin-left: -8px;
  padding-bottom: 5px;
}

.location-search {
  width: 25rem;
  font-size: 1.5rem;
  padding: 5px 0px 5px 7px;
  background-color: rgba(150, 150, 150, .2);
  border: 0;
}

.infoBox-search {
  text-align: center;
}

::placeholder {
  color: rgb(180, 180, 180) !important;
  opacity: 1 !important;
}

::-moz-placeholder {
  color: rgb(180, 180, 180) !important;
  opacity: 1 !important;
}

:-moz-placeholder {
  color: rgb(180, 180, 180) !important;
  opacity: 1 !important;
}

:-ms-input-placeholder {
  color: rgb(180, 180, 180) !important;
}

::-ms-input-placeholder {
  color: rgb(200, 200, 200) !important;
}

.temperature {
  margin: auto 10px;
  font-size: 5em;
  font-weight: 500;
}

#cityName {
  text-align: center;
  font-size: 1.3em;
}

#currWeather {
  margin-top: -10px;
  height: 11.5em;

}

#tUnits {
  display: inline-block;
  width: 35px;
  padding: 0 5px;
  font-size: 24px;
  margin-left: 10px;
}

#tUnits > a {
  display: none;
}

#tempC:hover,
#tempF:hover {
  text-decoration: none;
}

.selected {
  color: #FFF;
  padding: 0px;
  font-weight: 600;
  font-size: 1.18em;
  cursor: default;
}

.unselected {
  color: #C3C3C3;
  text-shadow: 0px 1px #EEE;
  cursor: pointer;
  margin-left: 0px;
  padding: 1px 2px;
  border: 1px solid rgba(06, 90, 138, 0);
}

.selected:hover {
  color: white;
}

.unselected:hover {
  color: #c3c3c3;
  border: 1px solid #FFF;
  background-color: rgba(180, 180, 180, .3);
}

.weatherCondition {
  display: inline-block;
  max-width: 80px;
  position: relative;
  top: 25px;

}

#condition {
  display: block;
  text-align: center;
  margin-top: 10px;
  font-size: .8em;
  display: block;
}

#WRU {
  font-size: .9em;
  font-weight: 100;
  width: 300px;
  margin: 25px auto 0 auto;
}

.WRU-element {
  width: 50%;
  padding: 0 3px;
}

#wind {
  float: left;
}

#wind i {
  font-size: 20px;
  padding: 0 4px;
}

#RU {
  float: right;
}

#RU i {
  font-size: 18px;
  padding: 0 5px 0 6px;

}

.iconColor {
  color: darkblue;
}

.forecast {
  font-size: 20px;
  padding-top: 35px;
}

#charts {
  margin-top: 35px;
}

.col-lg-4 {
  margin: auto;
}

.forecHead {
  font-size: 1.12em;
  text-align: center;
}

.forecBox {
  width: 210px;
  height: 190px;
  margin: auto;
  padding-top: 2px;
  box-sizing: border-box;
}

.forecBox > p {
  font-size: 1.1em;
  height: 30px;
  margin-top: 10px;
}

.forecCondition {
  display: inline-block;
  max-width: 90px;
  margin: auto;
  margin-top: 15px;
}

.iconF {
  font-size: 3em;
  text-align: center;
  margin-left: 5px;
  box-sizing: border-box;
}

.tempForecast {
  font-size: 1.5em;
  display: inline-block;
  margin-left: 15px;
  position: relative;
  top: -10px;
}

.tMin {
  font-size: .7em;
  color: #838383;
  font-weight: 300;
}

.tMax {
  display: block;
}

.condF {
  font-size: .7em;
  display: inherit;
}


footer {
  clear: both;
}

#footerLine {
  height: 5px;
  background-color: #cccccc;
  border-top: 1px solid #acacac;
  border-bottom: 1px solid #acacac;
}

#credits {
  margin: 10px 0;
  font-size: 10px;
}

/***BACKGROUNDS***/

/*clear*/

/*day*/

#app.a01d,
#app.a02d {
  background-color: #007AD6;
  background: linear-gradient(to bottom, #007AD6, #80E6FF);
  background: -webkit-linear-gradient(to bottom, #007AD6, #80E6FF);
  background: -moz-linear-gradient(to bottom, #007AD6, #80E6FF);
  background-size: cover;
}

/*night*/

#app.a01n,
#app.a02n {
  background-color: #004AB9;
  background: linear-gradient(to bottom, #00132E, #004AB9);
  background: -webkit-linear-gradient(to bottom, #00132E, #004AB9);
  background: -moz-linear-gradient(to bottom, #00132E, #004AB9);
  background-size: cover;
}

/*cloudy*/

#app.a03d,
#app.a04d,
#app.a09d,
#app.a10d,
#app.a11d,
#app.a13d,
#app.a50d {
  background-color: #B9B9B9;
  background: linear-gradient(to bottom, #2C3E50, #B9B9B9);
  background: -webkit-linear-gradient(to bottom, #2C3E50, #B9B9B9);
  background: -moz-linear-gradient(to bottom, #2C3E50, #B9B9B9);
  background-size: cover;
}

#app.a03n,
#app.a04n,
#app.a09n,
#app.a10n,
#app.a11n,
#app.a13n,
#app.a50n {
  background-color: #B9B9B9;
  background: linear-gradient(to bottom, #2C3E50, #C8C8C8);
  background: -webkit-linear-gradient(to bottom, #2C3E50, #E8E8E8);
  background: -moz-linear-gradient(to bottom, #2C3E50, #B9B9B9);
  background-size: cover;
}


.label text {
  font-family: 'Quicksand', 'Arial';
  font-size: 15px;
}

.axis path,
.axis line {
  fill: none;
  stroke-width: 1;
}

#graph {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 10px;
}

/******/

@media only screen and (min-width: 768px) {
  .container {
    max-width: 770px;
  }

}
