/* for small screens */

@media only screen and (max-width: 768px) {
  html {
    font-size: 13px;
  }

  #app {
    margin-top: 0;
    padding: 0 0 2rem 0;
  }

  #infoBox {
    font-size: 1.5rem;
  }

  #WRU {
    width: 220px;
  }

  #main {
    margin-top: 0;
    padding: 20px 0;
  }

  .container {
    max-width: 570px;
  }

  .forecast {
    font-size: 1.5rem;
    margin-top: 0;
    padding-top: 1.5rem;
  }

  .forecBox {
    width: 90%;
    height: 250px;
  }

  .forecCondition {
    display: block;
    height: 6rem;
  }

  .condF {
    font-size: 1em;
  }


  .tempForecast {
    margin: auto;
    margin-top: 45px;
  }

  #graph {
    margin-top: 10px;
    margin-bottom: 10px;
  }

}

@media only screen and (max-width: 450px) {
  html {
    font-size: 10px;
  }

  #main {
    height: 410px;
  }

  #infoBox {
    margin: 30px auto;
    font-size: 1.3rem;
  }

  #icon {
    margin-left: 10px;
  }

  #WRU {
    width: 200px;
  }

  .forecast {
    font-size: 1.3rem;
    height: 220px;
  }

  .forecast .container {
    max-height: 220px;
  }

  .forecHead {
    font-size: 1.8rem;
  }

  #charts {
    margin-top: 1rem;
  }

  #charts * {
    max-height: 160px;
  }

  .forecBox {
    width: 90%;
    min-width: 70px;
    height: 250px;
  }

  .forecBox > p {
    font-size: 1.2em;
    margin: 0;
  }

  .forecCondition {
    display: block;
    height: 5em;
    margin: 0;
  }

  .tempForecast {
    margin: auto;
    margin-top: 15px;
  }

  .iconF {
    font-size: 2em;
  }

  .condF {
    font-size: 1em;
  }

  .weatherCondition {
    left: -10px;
  }

  #graph {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .label text {
    font-size: 20px;
  }

}
