@import 'https://fonts.googleapis.com/css?family=Josefin+Sans|Quicksand';

body,
html {
  margin: 0;
  padding: 0;
  color: #FFF !important;
  min-height: 100vh;
}

body * {
  font-family: 'Quicksand', sans-serif;
}

#app {
  margin-top: -20px;
  padding: 50px 0;
  overflow: auto;
}

header {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 45px;
  font-weight: 500;
  text-shadow: 1px 1px black;
  text-align: center;
  background-color: transparent;
  position: relative;
}

#infoBox {
  font-size: 20px;
  font-weight: 100;
  color: white;
  width: 21em;
  margin: 35px auto;
  padding: 0px 10px;
  z-index: 1;
}

.icon {
  font-size: 4em;
  text-align: center;
  margin-left: -8px;
  padding-bottom: 5px;
}

.location-search {
  width: 25rem;
  font-size: 1.5rem;
  padding: 5px 25px 5px 7px;
  background-color: rgba(20, 20, 20, .2);
  border: 1px solid #FFF;
}

.location-search-reset {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-52%);
  background-color: transparent;
  border: 0;
  font-size: 1.5rem;
  display: none;
}

.location-search::-ms-clear {
  display: none;
}

.location-search:focus:valid ~ .location-search-reset {
  display: block;
}

.infoBox-search {
  text-align: center;
}

::placeholder {
  color: rgb(220, 220, 220) !important;
  opacity: 1 !important;
}

::-moz-placeholder {
  color: rgb(220, 220, 220) !important;
  opacity: 1 !important;
}

:-moz-placeholder {
  color: rgb(220, 220, 220) !important;
  opacity: 1 !important;
}

:-ms-input-placeholder {
  color: rgb(220, 220, 220) !important;
}

::-ms-input-placeholder {
  color: rgb(220, 220, 220) !important;
}

.temperature {
  display: block;
  font-size: 5em;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.location {
  text-align: center;
  font-size: 1.3em;
  margin-bottom: 3rem;
}

#currWeather {
  margin: auto;
  width: 18.5em;
  height: 18.5em;
  border-radius: 50%;
  background: linear-gradient(rgba(224, 224, 224, 0.4), rgba(0, 0, 0, 0.1));
  position: relative;
}

.currWeather-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#tUnits {
  display: inline-block;
  width: 30px;
  padding: 0 0px;
  font-size: 2rem;
}

#tUnits > a {
  display: none;
}

#tempC:hover,
#tempF:hover {
  text-decoration: none;
}

.selected {
  color: #FFF;
  padding: 0px;
  font-weight: bold;
  font-size: 2.6rem;
  cursor: default;
}

.unselected {
  color: #C3C3C3;
  text-shadow: 0px 1px #EEE;
  cursor: pointer;
  padding: 2px 6px;
  border: 1px solid rgba(06, 90, 138, 0);
}

.unselected:hover {
  border: 1px solid #FFF;
  background-color: rgba(180, 180, 180, .3);
}

.weatherCondition {
  display: block;
}

#condition {
  font-size: 1em;
}

#WRU {
  font-size: 1em;
  width: 280px;
  margin: auto;
}

.WRU-element {
  width: 50%;
}

#wind {
  float: left;
}

#wind i {
  font-size: 20px;
  padding: 0 4px;
}

#RU {
  float: right;
}

#RU i {
  font-size: 18px;
  padding: 0 5px;

}

.iconColor {
  color: darkblue;
}

.forecast {
  font-size: 18px;
  padding: 35px 0;
  background: linear-gradient(rgba(112, 112, 112, 0.4), rgba(0, 0, 0, 0.4));
  position: relative;
  bottom: 0;
}

#charts {
  margin-top: 35px;
}

.col-lg-4 {
  margin: auto;
}

.forecHead {
  font-size: 1.12em;
  text-align: center;
}

.forecBox {
  width: 210px;
  height: 190px;
  margin: auto;
  padding-top: 2px;
  box-sizing: border-box;
}

.forecBox > p {
  font-size: 1.1em;
}

.forecCondition {
  display: inline-block;
  max-width: 90px;
  margin: auto;
  margin-top: 10px;
}

.iconF {
  font-size: 3em;
  text-align: center;
  margin-left: 5px;
  box-sizing: border-box;
}

.tempForecast {
  font-size: 1.6em;
  display: inline-block;
  margin-left: 15px;
  position: relative;
  top: -10px;
}

.tMin {
  font-size: .7em;
  /*  color: #5383C3;*/
  color: #C3C3C3;
}

.tMax {
  display: block;
  /*  color: #C36053;*/
}

.condF {
  font-size: .7em;
  display: inherit;
}


footer {
  clear: both;
}

#footerLine {
  height: 5px;
  background-color: #cccccc;
  border-top: 1px solid #acacac;
  border-bottom: 1px solid #acacac;
}

#credits {
  margin: 10px 0;
  font-size: 10px;
}

/***BACKGROUNDS***/

/*clear*/

/*day*/
.a01d,
.a02d {
  /*  background-color: #007AD6;*/
  background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.2)), url('../img/sunny.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*night*/
.a01n,
.a02n {

  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/night-clear.jpg');
  background-size: cover;
}

/*cloudy*/
.a03d,
.a04d,
.a03n,
.a04n {
  /*  background-color: #B9B9B9;*/
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)), url("../img/cloudy.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*thunderstorm*/
.a11d,
.a11n {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 1)), url("../img/thunderstorm.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*Rain, Showers*/
.a09n,
.a10n,
.a09d,
.a10d {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.4)), url("../img/rain.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*Fog*/
.a50d,
.a50n {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 1)), url("../img/fog.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*Snow*/
.a13d,
.a13n {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 1)), url("../img/snow.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.label text {
  font-family: 'Quicksand', 'Arial';
  font-size: 15px;
}

.axis path,
.axis line {
  fill: none;
  stroke-width: 1;
}

#graph {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 10px;
}

/******/

@media only screen and (min-width: 768px) {
  .container {
    max-width: 770px;
  }

}
