/*#main::after {
  content: "";
  background: url("Images/clear_sky_night.jpg")  no-repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.8;
  height: 550px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
*/

#main {
  /*background: rgba(06, 90, 138, 1);
  background-size: cover;*/
  height: 550px;
  box-shadow: 0 10px 15px #aaa;
}

header {
  background-color: transparent;
  position: relative;
  color: white;
  font-weight: bold;
}

.container {
  margin-right: auto;
  margin-left: auto;
}

h1, h3 {
  text-align: center;
}

#infoBox {
  font-size: 16px;
  color: white;
  max-height: 18em;
  width: 21em;
  margin: 30px auto;
  padding: 25px 20px;
  /*background-color: rgba(240, 240, 240, .55);*/
  z-index: 1;
  border-radius: 1%;
}

#icon {
  font-size: 4em;
  text-align: center;
  margin-left: 5px;
  padding-bottom: 5px;
}

.temperature {
  /margin-left: 25px;
  height: 80px;
  font-size: 5em;
  font-weight: 500;
  /*position: relative;
  top: 5px;*/
}

#cityName {
  text-align: center;
  font-size: 1.3em;
}

#currWeather {
  margin-top: -10px;
  height: 11.5em
}

#tempUnit {
  display: inline;
  padding: 5px;
  
}

#tUnits {
  display: inline-block;
  box-sizing: border-box;
  width: 27px;
  margin-left: 8px;
  padding: 5px;
  font-size: 1.4em;
  position: relative;
  right: -10px;
}

#tUnits > a {
  display: none;
}

#tempC:hover, #tempF:hover {
  text-decoration: none;
}

.selected {
  color: white;
  padding: 2px;
  font-weight: 600;
  font-size: 1.18em;
  cursor: default;
  /*color: #36a;*/
}

.unselected {
  cursor: pointer;
  color: #bbb;
  margin-left: 0px;
  border: 1px solid rgba(06, 90, 138, 0);
  padding: 2px;
  /*color: #47b;*/
}

.selected:hover {
  color: white;
}

.unselected:hover {
  color: #bbb;
  border: 1px solid white;
}
#condition {
  display: block;
  text-align: center;
  margin-top: 10px;
  font-size: .8em;
  display:block;
}

#WRU {
  margin-top: 30px;
}

#wind i {
 /*color: #36a;*/
  font-size: 20px;
}

#RU {
  /*float: right;*/
}

#RU i {
  /*color: #36a;*/
  font-size: 18px;
}

.iconColor {
  color: darkblue;
}


.weatherCondition {
  display: inline-block;
  max-width: 80px;
  position: relative;
  top: 25px;
  left: -30px;
}

#charts {
  margin-top: 30px;
}

.col-lg-4 {
  margin: auto;
}

.forecHead {
  font-size: 1.8em;
  margin-top: 15px;
}

.forecBox {
  width: 200px;
  height: 190px;
  margin: auto;
  /*background: rgba(06, 90, 138, 1);*/
  padding-top: 2px;
  border: 4px solid rgba(06, 90, 138, 1);
  box-shadow: 0 5px 15px #aaa;
  color: white;
  box-sizing: border-box;
}

.forecBox:hover {
  /*background: rgba(06, 90, 138, .55);*/
  border: 4px solid #aaa;
}

.forecBox > p {
  font-size: 1.6em;
  height: 30px;
  margin-top: 10px;
}

#today {
  display: none;
}

.forecCondition {
  display: inline-block;
  max-width: 90px;
  margin: auto;
  margin-top: 15px;
}

.iconF {
  font-size: 4em;
  text-align: center;
  margin-left: 5px;
  margin-bottom: 5px;
  box-sizing: border-box;
  padding-bottom: 10px;
}

.tempForecast {
  font-size: 1.9em;
  display: inline-block;
  margin-left: 15px;
  position: relative;
  top: -10px; 
}

.tMin {
  font-size: .7em;
  color: #bbb;
  font-weight: 300;
}

.tMax {
  display: block;
}
.condF {
  font-size: .9em;
  display: inherit;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 770px;
  }
}

footer {
  margin-top: 40px;
}

/***BACKGROUNDS***/
#main.a01d, #main.a02d, .forecBox.a01d, .forecBox.a02d {
  background-color: rgba(26, 170, 238, 1);
  background-size: cover;
}

#main.a01n, #main.a02n, .forecBox.a01n, .forecBox.a02n {
  background-color: rgba(06, 90, 138, 1);
  background-size: cover;
}
