/*#main::after {
  content: "";
  background: url("Images/clear_sky_night.jpg")  no-repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.8;
  height: 550px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
*/


#main {
  /*background: rgba(06, 90, 138, 1);
  background-size: cover;*/
  height: 505px;
  /*box-shadow: 0 10px 15px #aaa;*/
}

header {
  background-color: transparent;
  position: relative;
  color: white;
  font-weight: bold;
}

.container {
  margin-right: auto;
  margin-left: auto;
}

h1, h3 {
  text-align: center;
}

#infoBox {
  font-size: 20px;
  color: white;
  max-height: 18em;
  width: 21em;
  margin: 35px auto;
  padding: 0px 10px;
  /*background-color: rgba(240, 240, 240, .55);*/
  z-index: 1;
  border-radius: 1%;
}

#icon {
  font-size: 4em;
  text-align: center;
  margin-left: -8px;
  padding-bottom: 5px;
}

.temperature {
  margin: auto;
  height: 80px;
  font-size: 5em;
  font-weight: 500;
  /*position: relative;
  top: 5px;*/
}

#cityName {
  text-align: center;
  font-size: 1.3em;
}

#currWeather {
  margin-top: -10px;
  height: 11.5em;

}

#tUnits {
  display: inline-block;
  box-sizing: border-box;
  width: 27px;
  margin-left: 8px;
  padding: 5px;
  font-size: 1.4em;
  position: relative;
  right: -10px;
}

#tUnits > a {
  display: none;
}

#tempC:hover, #tempF:hover {
  text-decoration: none;
}

.selected {
  color: white;
  padding: 2px;
  font-weight: 600;
  font-size: 1.18em;
  cursor: default;
  /*color: #36a;*/
}

.unselected {
  cursor: pointer;
  color: #c3c3c3;
  margin-left: 0px;
  border: 1px solid rgba(06, 90, 138, 0);
  padding: 2px;
  /*color: #47b;*/
}

.selected:hover {
  color: white;
}

.unselected:hover {
  color: #838383;
  border: 1px solid white;
}

.weatherCondition {
  display: inline-block;
  max-width: 80px;
  position: relative;
  top: 25px;
  left: -35px;
}

#condition {
  display: block;
  text-align: center;
  margin-top: 10px;
  font-size: .8em;
  display:block;
}

#WRU {
  width: 16em;
  margin: 25px auto 0 auto;
  font-size: .9em;
}

#wind {
  float: left;
}

#wind i {
 /*color: #36a;*/
  font-size: 20px;
}

#RU {
  float: right;
}

#RU i {
  /*color: #36a;*/
  font-size: 18px;

}

.iconColor {
  color: darkblue;
}



.forecast {
  font-size: 20px;
}

#charts {
  margin-top: 35px;
}

.col-lg-4 {
  margin: auto;
}

.forecHead {
  font-size: 1.3em;
  margin-top: 25px;
}

.forecBox {
  width: 210px;
  height: 190px;
  margin: auto;
  /*background: rgba(06, 90, 138, 1);*/
  padding-top: 2px;
  /*border: 4px solid rgba(255, 255, 255, 1);*/
  /*box-shadow: 0 5px 15px #aaa;
  color: white;*/
  box-sizing: border-box;
}

 /*.box1 {
   margin-right: -35px;
   border-left: 1px solid #777;
 }

.box3 {
  margin-left: -35px;
  border-right: 1px solid #777;
}

.box2 {
  border-left: 1px solid #777;
  border-right: 1px solid #777;
}
*/
.forecBox:hover {
  /*background: rgba(06, 90, 138, .55);*/
  border: 4px solid #aaa;
}

.forecBox > p {
  font-size: 1.1em;
  height: 30px;
  margin-top: 10px;
}

#today {
  display: none;
}

.forecCondition {
  display: inline-block;
  max-width: 90px;
  margin: auto;
  margin-top: 15px;
}

.iconF {
  font-size: 3em;
  text-align: center;
  margin-left: 5px;
  margin-bottom: 5px;
  box-sizing: border-box;
  padding-bottom: 10px;
}

.tempForecast {
  font-size: 1.5em;
  display: inline-block;
  margin-left: 15px;
  position: relative;
  top: -10px; 
}

.tMin {
  font-size: .7em;
  color: #838383;
  font-weight: 300;
}

.tMax {
  display: block;
}
.condF {
  font-size: .7em;
  display: inherit;
}

/******/
@media only screen and (min-width: 768px) {
  .container {
    max-width: 770px;
  }

}

footer {
  margin-top: 40px;
}

/***BACKGROUNDS***/
/*clear*/
#main.a01d, #main.a02d, .forecBox.a01d, .forecBox.a02d {
  background-color: #0099CC;
  background: linear-gradient(to bottom, #0099CC , #FFCC99);
  background: -webkit-linear-gradient(to bottom, #00132E , #004AB9);
  background: -moz-linear-gradient(to bottom, #00132E , #004AB9);
  background-size: cover;
}

#main.a01n, #main.a02n, .forecBox.a01n, .forecBox.a02n {
  background-color: #004AB9;
  background: linear-gradient(to bottom, #00132E , #004AB9);
  background: -webkit-linear-gradient(to bottom, #00132E , #004AB9);
  background: -moz-linear-gradient(to bottom, #00132E , #004AB9);
  background-size: cover;
}

/*cloudy*/
#main.a03d, #main.a04d, .forecBox.a03d, .forecBox.a04d {
  background-color: rgba(100, 100, 100, .7);
  background-size: cover;
}

#main.a03n, #main.a04n, .forecBox.a03n, .forecBox.a04n {
  background-color: #B9B9B9;
  background: linear-gradient(to bottom, #2C3E50 , #B9B9B9);
  background: -webkit-linear-gradient(to bottom, #2C3E50 , #E8E8E8);
  background: -moz-linear-gradient(to bottom, #2C3E50 , #E8E8E8);
  background-size: cover;
}

